body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #777777;
}
.image-gallery{
    width: 50%;
    display: flex;
    margin: 1rem auto;
    align-items: center;
    border: solid black 2px;
    padding: 1rem;
    border-radius: 10px;
}
img{
    display: none;
}
.active{
    display: block;
    width: 100%;
    height: 600px;
}
.btns{
    display: flex;
    justify-content: center;
    gap: .5rem;
    align-items: center;
}
button{
    background-color: #0074d9;
    border: none;
    font-size: 20px;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:disabled{
    background-color: #999999;
    cursor: not-allowed;
}


@media(max-width:414px){
    .image-gallery{
        width: 85%;
        margin: 2rem auto;
    }
}